@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.clearBtn {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
    margin-top: 20px;
    margin-left: 900px;
}
.clearBtn:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.clearBtn:active {
	position:relative;
	top:1px;
}

.saveBtn {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #94ff08 5%, #1bffba 100%);
	background-color:#77ff99;
	border-radius:6px;
	border:1px solid #068d40;
	display:inline-block;
	cursor:pointer;
	color:#036325;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fffefb;
    margin-top: 20px;
    margin-left: 900px;
}
.saveBtn:hover {
	background:linear-gradient(to bottom, #02ff17 5%, #01ff80 100%);
	background-color:#4aff62b7;
}
.saveBtn:active {
	position:relative;
	top:1px;
}

.title {
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
}

.caption {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: smaller;
}

.headerTitle {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
    color: #f18100b7;
    border-color: black;
    text-shadow: chocolate;
    
}

.dialog {
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: rgba(255, 0, 0, 0);
    color: darkred

}

.addBtn {
    background-color: rgb(255, 212, 177);
    color: darkred;
    margin-top: -200px;
    margin-left: 900px;
    width:100px;
    height: 56px;
    font-family: 'Mochiy Pop One', sans-serif;
    border-color: white ;
    border-radius:6px;

}

.addBtn:hover {
	background:linear-gradient(to bottom, #02ff17 5%, #01ff80 100%);
	background-color:#4aff62b7;
}