.table {
  margin-top: 160px;
  margin-left: -1300px;
  justify-self: center;
  box-shadow: 5px 5px 15px 5px #76858b;
  width: 1300px;
}

.filter__header {
  margin-top: 30px;
  margin-left: -1280px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #76858b;
  border-radius: 20px;
  color: white;
  width: 1300px;
  height: 80px;
  display: flex;
}
.filter__header > button {
  padding: 20px;
  background-color: rgb(0, 117, 251);
  border-radius: 5px;
  margin: 10px 20px 10px 10px;
  color: white;
  width: 100px;
  border: none;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
}

.filter__header > button:hover {
  background-color: #15e029 !important;
  opacity: 0.8;
}
.filter__header > input {
  padding: 20px;
  background-color: rgb(250, 253, 255);
  border-radius: 5px;
  margin: 10px 20px 10px 10px;
  color: rgb(0, 0, 0);
  width: 190px;
  border: solid black;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
}

.status_converted {
  color: #9c89b8;
}
.status___new {
  color: #49516f;
}
.status__unqualified {
  color: #fbc14b;
}
.status__in_process {
  color: pink;
}
.status__needs_review {
  color: red;
}

.rag-green {
  color: "red";
}

@media print {
  .table * {
    visibility: visible;
  }

  .table.reset {
    visibility: hidden;
  }

  /* @page {
    margin: 0.5cm;
  } */
}
